body{
    display: flex;
    box-sizing: border-box;
  }

  main,nav,body{
    background-color: #212529;
    color: #f8f9fa;
  }

  .accordiion-flush, .contact-item, .container-fluid, .container, .row, .col, .col-6{
    background-color: #212529;
    color: #f8f9fa;
  }

  .accordion-flush .accordion-item{
    background-color: #343a40;
    color: #f8f9fa;
  }

  .accordion-flush .accordion-button {
    border-radius: 10px; 
    background-color: #343a40; 
    color: #f8f9fa; 
    border-color: black;
    border-width: 2px;
  }

  #solicitacaoOrcamento{
    background-color: #343a40;
  }

  .navbar {
    background-color: #212529 !important;
  }
  
  .navbar .nav-link,
  .navbar-brand,
  .navbar .dropdown-item {
    color: #f8f9fa !important
    
  }
  
  .navbar .nav-link:hover,
  .navbar-brand:hover,
  .navbar .dropdown-item:hover {
    color: #00BFFF !important; 
  }
  .dropdown-item:hover{
    background-color: #212529;
  }
  
  .navbar .dropdown-menu {
    background-color: #212529 !important;
  }
  
  .navbar-toggler {
    color: #f8f9fa !important; /* Cor do ícone */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(248, 249, 250, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
    
  a{
    text-decoration: #f8f9fa;
  }

nav{
  text-decoration: none;
}
  
  
.accordion-flush .accordion-item{
  border-radius: none;
  overflow: none;
}  

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre o ícone e o texto */
    margin-bottom: 10px; /* Distância entre as linhas */
  }
  
  .contact-item svg {
    width: 30px;
    height: 30px;
  }
  
  .contact-item span {
    font-size: 16px;
    font-weight: bold;
  }

  .btn-text-color{
    color: #f8f9fa;
  }
